<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acrux cyber services | Enterprise Software Development, Design & Consulting</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div id="root" class="page">
    <div id="menu" class="menu">
        <img id="menu-icon" src="/img/menu.svg" alt="">
        <img id="close-icon" class="hidden-icon" src="/img/close.svg" alt="">
    </div>
    <div id="main" class="main">
        <header class="header">
            <div class="logo"><img id="logo" src="" alt=""></div>
        </header>
        <div class="block-title">
            <h1 id="title">Загрузка...</h1>
            <div id="desc" class="desc">Загрузка...</div>
        </div>
        <footer class="footer">
            <a href="#" class="social"><img src="/img/fb.svg" alt=""></a>
            <div class="information">
                <div class="information__block information-block__contact">
                        <span>
						<br>UAB „ACRUX CYBER SERVICES“
						<br>Company code: 304123964
						<br>VAT code: LT100011850515
						<br>Address: Žirmūnų g. 68A-5, LT-09124 Vilnius
						<br>Phone: +370 6 932 3000
						<br>E-mail: info@acruxcs.com
					</span>
                </div>
                <div class="information__block information-block__sign">
                    <img src="/img/hellosign.png" alt="">
                    <p>​ARTIFICIAL INTELLIGENT PLATFORM FOR EARLY DETECTION OF LUNG INJURY IN ARTIFICIAL LUNG VENTILATION (More in Lithuanian)</p>
                </div>
            </div>
        </footer>
    </div>
    <nav id="nav" class="nav hidden">
        <ul>
            <li><a href="#">Web / App Development</a></li>
            <li><a href="#">Artificial Intelligence</a></li>
            <li><a href="#">Cyber Security</a></li>
            <br><br>
            <li><a href="#">EU Projects</a></li>
        </ul>
    </nav>
</div>

<script src="/js/api.js"></script>
<script src="/js/app.js"></script>
</body>
</html>