* {
    box-sizing: border-box;
}
.main {
    padding: 30px;
    margin: 0 auto;
}

form {
    margin: 0 auto 15px;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 15px;
}

input {
    display: block;
    width: 100%;
    padding: 7px 15px;
}

button {
    display: block;
    width: 100%;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px 7px;
    border: 1px solid #000;
}